.background{
    height: 100vh;
    background-image: linear-gradient(to bottom, #009688 20%, #DBDBD3 20% 100%);
};

.height-90 {
    height: 90%; /*NON FUNZIONA*/
}

/* #contacts {
    background-color: #fff; FUNZIONA IN MODO STRANO
};

#chats {
    background-color: #EAEAEA; FUNZIONA IN MODO STRANO
}; */