body {
    height: 100vh;
    background: linear-gradient(to bottom, #009688 20%, #DBDBD3 20% 100%);
}

.height-90 {
    height: 90%; 
}


 #contacts {
    background-color: #fff;
}

#chats {
    background-color: #EAEAEA;
}










